<section class="columns is-fullheight has-background-black-ter">
  
  <aside class="column is-2 is-narrow-mobile is-fullheight section">
    <p class="menu-label is-hidden-touch has-text-light">Navigation</p>
    <ul class="menu-list">
      <li>
        <a href="/" class="has-text-light">
          <span class="icon"><i class="fa fa-home"></i></span> Home
        </a>
      </li>
      <li>
        <a href="#" class="has-text-light">
          <span class="icon"><i class="fa fa-magic"></i></span> Magic
        </a>

        <ul>
          <li>
            <a href="#" class="is-active has-background-dark has-text-light">
              JSON to Hash ruby
            </a>
          </li>
          <li>
            <a href="/lorem-ipsum-generator.rb" class="has-text-light">
              Lorem Ipsum generator
            </a>
          </li>
          <li>
            <a href="/discord-webhook-test.rb" class="has-text-light">
              Discord webhook test
            </a>
          </li>
          <li>
            <a href="/slack-webhook-test.rb" class="has-text-light">
              Slack webhook test
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>

  <div class="container column is-10">
    <div class="section">

      <div class="card has-background-dark has-text-light">
        <div class="card-header"><p class="card-header-title has-text-light">JSON to Hash Ruby</p></div>
        <div class="card-content"><div class="content">
          

<%= form_tag("json-to-hash-ruby.rb") do %>
          
		  <div class="field">
		  <%= text_area(:json, :field, :class => "textarea") %> 
		  </div>
        
		  <div class="field has-text-centered">
		  <%= submit_tag("Parse", :class => "button has-background-dark has-text-light") %>
		  </div>

<% end %>
        
        </div></div>
      </div>
      <br />
      
      <div class="card has-background-dark has-text-light">
        <div class="card-header"><p class="card-header-title has-text-light">Output</p></div>
        <div class="card-content"><div class="content"><%= @load %></div></div>
      </div>
      <br />
      
    </div>
  </div>
  
</section>