<!DOCTYPE html>
<html>
  <head>
    <title>The Kingdom of Magic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div id="progress" class="waiting">
        <dt></dt>
        <dd></dd>
    </div>
  </head>

  <body>
    <div class="hero has-background-black-ter">  
    <section class="hero header-image">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content has-text-light">
              <i class="is-large fas fa-code"></i>
              <h1 class="title has-text-light"><em>The Kingdom of Magic</em></h1>
              <h3 class="subtitle has-text-light">
              A magic tool build with ruby on rails
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <%= yield %>
      
    </div>
  <footer class="footer has-background-black-ter">
    <div class="content has-text-centered">
      <p>
        <strong>The Kingdom of magic</strong> by <a href="https://github.com/rokhimin">Rokhimin</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CreativeCommons 4.0</a>
      </p>
    </div>
  </footer>
  </body>
  
  
    <script>
        $( document ).ready(function() {
            $({property: 0}).animate({property: 105}, {
                duration: 4000,
                step: function() {
                    var _percent = Math.round(this.property);
                    $('#progress').css('width',  _percent+"%");
                    if(_percent == 105) {
                        $("#progress").addClass("done");
                    }
                }
            });
        });
    </script>
  
  <style>
    #progress {
        position: fixed;
        z-index: 2147483647;
        top: 0;
        left: -6px;
        width: 0%;
        height: 2px;
        background: #b91f1f;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        -moz-transition: width 500ms ease-out,opacity 400ms linear;
        -ms-transition: width 500ms ease-out,opacity 400ms linear;
        -o-transition: width 500ms ease-out,opacity 400ms linear;
        -webkit-transition: width 500ms ease-out,opacity 400ms linear;
        transition: width 500ms ease-out,opacity 400ms linear
    }
    #progress.done {
        opacity: 0
    }
    #progress dd,#progress dt {
        position: absolute;
        top: 0;
        height: 2px;
        -moz-box-shadow: #b91f1f 1px 0 6px 1px;
        -ms-box-shadow: #b91f1f 1px 0 6px 1px;
        -webkit-box-shadow: #b91f1f 1px 0 6px 1px;
        box-shadow: #b91f1f 1px 0 6px 1px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%
    }
    #progress dd {
        opacity: 1;
        width: 20px;
        right: 0;
        clip: rect(-6px,22px,14px,10px)
    }
    #progress dt {
        opacity: 1;
        width: 180px;
        right: -80px;
        clip: rect(-6px,90px,14px,-6px)
    }
    @-moz-keyframes pulse {
        30% {
            opacity: 1
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    @-ms-keyframes pulse {
        30% {
            opacity: .6
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: .6
        }
    }
    @-o-keyframes pulse {
        30% {
            opacity: 1
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    @-webkit-keyframes pulse {
        30% {
            opacity: .6
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: .6
        }
    }
    @keyframes pulse {
        30% {
            opacity: 1
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    #progress.waiting dd,#progress.waiting dt {
        -moz-animation: pulse 2s ease-out 0s infinite;
        -ms-animation: pulse 2s ease-out 0s infinite;
        -o-animation: pulse 2s ease-out 0s infinite;
        -webkit-animation: pulse 2s ease-out 0s infinite;
        animation: pulse 2s ease-out 0s infinite
    }
</style>
  
  
    <style>
        /* Chrome, Safari scrollbar*/
        ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
        }
        ::-webkit-scrollbar-track-piece  {
        background-color: #222222;
        }
        ::-webkit-scrollbar-thumb:vertical {
        height: 30px;
        background-color: #000;
        }
    </style>
  
</html>
